fastapi
uvicorn
python-dotenv
huggingface_hub
langchain
langchain-core
langchain-community
langchain-openai
langchain-huggingface
langchain-milvus
langgraph
pymilvus
milvus-lite
pydantic
sentence-transformers
torch